<html>

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="cache-control" content="max-age=1" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/bootstrap-table.css" />
</head>

<body>
    <header ui-view="header" id="appHeader">header</header>
    <section ui-view="content" id="appSection">section</section>
    <footer ui-view="footer" id="appFooter">footer</footer>
    <script data-main="js/main" src="js/lib/min/require.min.js"></script>
</body>

</html>
